.title {
  margin-top: 10px;
  text-align: center;
}

.settings {
  width: 260px;
}

.graph {
  flex: 1;
}

.input-group-text {
  width: 38px;
}

.labelSpacing {
  padding-right: 8px;
  padding-top: 3px;
}

.roundedBox {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.results th {
  position: sticky;
  top: 0;
  background-color: rgb(205, 207, 211) !important;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.sticky {
  position: sticky;
  top: 10px;
}

@media screen and (max-width: 1800px) {
  .sticky {position: inherit; top: auto;}
}

.results{
  max-width: 900px;
}

.results .text {
  margin-bottom: 20px;
}

