.title {
  margin-top: 10px;
  text-align: center;
}

.roundedBox {
  float: left;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.graph {
  min-width: 600px;
}

.input-group-text {
  width: 38px;
}

.labelSpacing {
  padding-right: 8px;
  padding-top: 3px;
}

.results {
  float: left;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.results th {
  position: sticky;
  top: 0;
  background-color: rgb(205, 207, 211) !important;
}

.stickTop {
  position: sticky !important;
  top: 0;
}

.results .text {
  margin-bottom: 20px;
}

